* {

}

.backgroundPane {
    -fx-background-color: white;
}

.label{
    -fx-text-fill: black;
}

.labelTitle{
    -fx-text-fill: black;
    -fx-font-size: 16;
    -fx-font-weight: bold;
}

.button{
    -fx-text-fill: black;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -mfx-button-type: raised;
}
