@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

* {
-fx-font-family: 'Roboto Mono', monospace;
}

.mfx-text-field {
    -fx-border-color: #b8b6b6;
}

.menu-bar{
    -fx-background-color: white;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-effect: dropshadow(gaussian, #c2c2c2, 20, 0, 0, 5);
}

.backgroundPane {
    -fx-background-color: white;
}

.label{
    -fx-text-fill: black;
}

.labelTitle{
    -fx-text-fill: black;
    -fx-font-size: 16;
    -fx-font-weight: bold;
}

.labelIntro{
    -fx-font-size: 32;
    -fx-font-weight: bold;
}

.button{
    -fx-text-fill: black;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-border-color: #b8b6b6;
    -mfx-button-type: raised;
}
